.UserPage {
	display: flex;
	padding: 15px;
}

.left-col {
	width: 30vw;
}

.profile-photo {
	max-height: 150px;
}

.right-col {
	width: 60vw;
}

.user-info {
	display: flex;
}

.user-info-right {
	padding-left: 1rem;
	font-weight: bold;
}
